@font-face {
  font-family: "zzz";
  src: url(ZenlessZoneZero.ttf);
}

@font-face {
  font-family: "onest";
  src: url(Onest-VariableFont_wght.ttf);
}

#my {
  zoom: 75%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  max-height: 100%;
  max-width: 100%;
  color: #b7863b;
  background-color: #fef6e2;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 90px;
  height: 90px;
  transform: scale(0.8);
  margin-right: 5px;
  margin-left: -50px;
  margin-top: -10px;
  transition: transform .5s;
  animation: fadeIn 2s;
}

.viven {
  height: 60px;
  width: 250px;
  margin-top: 5px;
  margin-left: -45px;
  transform: scale(0.8);
}

.logo-container {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
  padding-right: 30px;
}

.logo:hover {
  transform: scale(1.1);
}

.menu-bar {
  top: 0;
  margin-top: -10px;
  position: sticky;
  z-index: 4;
  background: rgb(93, 55, 49);
  background: linear-gradient(167deg, rgba(93, 55, 49, 1) 47%, rgba(148, 87, 44, 1) 100%);
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0 2%;
  box-shadow: 0px 10px 35px #24161494;
  animation: fadeIn 0.3s ease-in-out;
}

.menu-bar ul {
  margin-left: -10px;
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  animation: fadeIn 0.5s;
  padding: 0px 5px;
  position: relative;
  display: inline-block;
}

.menu-bar ul li a {
  font-size: 15px;
  padding: 10px 10px;
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: #241614;
  background-color: #a36a27;
  border-radius: 50px 50px 50px 50px;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.judul {
  width: max-content;
  animation: baseline 0.7s forwards cubic-bezier(.4, 0, .39, 1.04);
  font-size: 45px;
  margin-left: 50px;
  color: rgb(93, 55, 49);
}

h1.spesial span {
  color: #fefaef;
  font-size: 55px;
  background-color: #5d3731;
  padding: 2px 30px 2px 30px;
  border-radius: 40px;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  font-size: 14px; 
  padding: 5px;
  display: none;
  align-items: center; 
  justify-content: center; 
  margin-top: 5px;
  padding: 10px;
  position: absolute;
  background-color: #5d3731;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  min-height: 150px;
  white-space: normal;
  word-wrap: break-word;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 14px; 
  width: 100%;
  margin-left: -0.2px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
  animation: fadeIn 0.4s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #a36a27;
  border-radius: 10px 10px 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  font-family: "zzz";
}

.bg {
  width: 1685px;
  position: relative;
  height: 45vh;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: fadeIn 0.6s ease-in-out;
}

h1 {
  font-family: "zzz";
  margin-top: 50px;
  animation: baseline 0.8s forwards cubic-bezier(.4, 0, .39, 1.04);
}

h3 {
  font-family: "zzz";
}

p {
  font-family: "onest";
  margin-left: 50px;
  margin-top: 10px;
  width: 1600px;
  text-align: justify;
  font-size: 25px;
  animation: baseline 0.8s forwards cubic-bezier(.4, 0, .39, 1.04);
}

.toko {
  margin-top: -20px;
  white-space: nowrap;
  color: #5d3731;
  font-size: 75px;
  margin-left: 610px;
  width: 600px;
  transition: color 0.5s;
  animation: 1s slide-right ease-in-out 50ms;
}

.highlight {
  transition: color 0.5s;
}

.highlight2 {
  color: #a36a27;
  transition: color 0.5s;
}

.highlight:hover {
  color: whitesmoke;
  text-shadow: 0 0 10px #a36a27, 0 0 20px #a36a27, 0 0 30px #a36a27, 0 0 10px #a36a27, 0 0 20px #a36a27, 0 0 30px #a36a27, 0 0 70px #a36a27;
}

.highlight2:hover {
  color: whitesmoke;
  text-shadow: 0 0 10px #d84a44, 0 0 20px #d84a44, 0 0 30px #d84a44, 0 0 10px #d84a44, 0 0 20px #d84a44, 0 0 30px #d84a44, 0 0 70px #d84a44;
}


.slogan {
  margin-top: -5px;
  margin-left: 720px;
  color: #d84a44;
  font-size: 40px;
}

.perkenalan {
  margin-left: 50px;
  text-indent: 100px;
  background-color: #fefaef;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  outline: #5d3731 3px solid;
  border-radius: 25px;
  padding: 20px;
  max-height: max-content;
}

.boxcontainer {
  display: flex;
  width: 95%;
  flex-direction: row;
  margin-left: 10px;
  text-indent: 100px;
  background-color: #fefaef;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  outline: #5d3731 3px solid;
  border-radius: 25px;
  padding: 20px;
  max-height: max-content;
}


.meet {
  text-align: center;
  color: whitesmoke;
  width: max-content;
  margin-left: 500px;
  margin-top: 150px;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transform: scale(0.3);
  transition: all .5s;
}

.meet.in-view {
  opacity: 1;
  transform: scale(1);
}

.sus {
  z-index: 3;
  position: absolute;
  width: 300px;
  height: 300px;
  rotate: -25deg;
  margin-top: -170px;
  margin-left: 1420px;
  animation: baseline 0.8s;
  transition: all .5s;
}

.sus:hover {
  transform: scale(1.2);
}

.wiggle {
  z-index: 3;
  position: absolute;
  rotate: -5deg;
  margin-top: -150px;
  margin-left: -700px;
  transform: scale(0.5);
  animation: baseline 0.8s;
}

.wiggle2 {
  z-index: 3;
  position: absolute;
  rotate: -5deg;
  margin-top: 370px;
  margin-left: 500px;
  transform: scale(0.5);
  animation: baseline 0.8s;
}

a {
  margin-left: 10px;
  font-size: 35px;
}

.sosmed {
  animation: fadeIn 2s;
  margin-left: 250px;
  margin-top: 250px;
  display: flex;
  padding: 10px;
  text-decoration: none;
}

.igprofil {
  margin-left: -10px;
  color: #a36a27;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.2s;
}

.igprofil:hover {
  color: #d84a44
}

.ucil {
  z-index: 3;
  position: absolute;
  width: 600px;
  height: 600px;
  rotate: -15deg;
  margin-top: 30px;
  margin-left: 20px;
  transition: transform .5s;
  animation: baseline 0.8s;
}

.ucil:hover {
  transform: scale(1.2);
}

.gojek {
  z-index: 3;
  position: absolute;
  width: 450px;
  height: 450px;
  rotate: 90deg;
  margin-top: 2740px;
  margin-left: -70px;
  transition: transform .5s;
  animation: baseline 0.8s;
}

.gojek:hover {
  transform: scale(1.1);
}

@keyframes baseline {
  0% {
    transform: translateY(140%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    margin-left: 200%;
    opacity: 0;
  }

  to {
    margin-left: 610px;
    opacity: 1;
  }
}

.home-container {
  padding-top: 90px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fadeIn 1s;
  padding-bottom: 60px;
}

.marquee-container {
  margin-top: -5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #5d3731;
  height: 40px;
  animation: fadeIn 0.8s ease-in-out;
}

.marquee {
  gap: 2rem;
  margin-top: 5px;
  font-family: "onest";
  width: max-content;
  animation: marquee 10s linear infinite;
}

.marquee span {
  font-size: 25px;
  color: whitesmoke;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.profile-card {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  position: relative;
  width: 220px;
  height: 220px;
  margin-top: 60px;
  background-color: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15%;
  box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
  transition: all .4s;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.5s ease-in-out;
}

.profile-card.in-view {
  opacity: 1;
  transform: translateY(0);
}

.profile-card:nth-child(1) {
  transition-delay: 0.1s;
}

.profile-card:nth-child(2) {
  transition-delay: 0.2s;
}

.profile-card:nth-child(3) {
  transition-delay: 0.3s;
}

.profile-card:nth-child(4) {
  transition-delay: 0.4s;
}

.profile-card:nth-child(5) {
  transition-delay: 0.5s;
}

.profile-card:nth-child(6) {
  transition-delay: 0.6s;
}

.profile-card:hover {
  border-radius: 30px;
  height: 210px;
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-card:hover img {
  border-radius: 10px;
  transform: translateY(-90px);
}

.img img {
  object-fit: fill;
  width: 100%;
  margin-top: 15px;
  border-radius: 15%;
  transition: all .4s;
  z-index: 99;
}

.caption {
  text-align: center;
  transform: translateY(-90px);
  opacity: 0;
  margin-top: -45px;
  pointer-events: none;
  transition: all .1s;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.profile-card:hover .caption {
  opacity: 1;
  pointer-events: all;
}

.caption h3 {
  margin-top: 50px;
  font-size: 21px;
  color: #2c388f;
  font-weight: 600;
}

.bi {
  color: #d84a44;
  font-size: 15px;
  font-weight: bold;
  margin-right: -720px;
  text-align: center;
}

.igprofil2 {
  color: #a36a27;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.2s;
  margin-left: -10px;
}

.igprofil2:hover {
  color: #d84a44;
}

.igprofil3 {
  color: #a36a27;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.2s;
  margin-left: -2px;
}

.igprofil3:hover {
  color: #d84a44;
}

.caption p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 0px;
  margin-left: -720px;
  text-align: center;
}


@keyframes twinkle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.twinkle {
  animation: twinkle 1s infinite ease-in-out;
}

.test {
  margin-top: 150px;
}

.test2 {
  height: 530px;
  position: absolute;
  z-index: -1;
  margin-top: -50px;
  rotate: -5deg;
  width: 110%;
  margin-left: -100px;
  padding: 5px;
  padding-bottom: 20px;
  background: rgb(93, 55, 49);
  background: linear-gradient(167deg, rgba(93, 55, 49, 1) 47%, rgba(148, 87, 44, 1) 100%);
}

.test3 {
  height: 5px;
  position: absolute;
  z-index: -1;
  margin-top: 600px;
  width: 160%;
  margin-left: -200px;
  padding: 5px;
  padding-bottom: 20px;
  background: rgb(93, 55, 49);
  background: linear-gradient(167deg, rgba(93, 55, 49, 1) 47%, rgba(148, 87, 44, 1) 100%);
}

.poster {
  display: flex;
}

.tujuan {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.7s ease-in-out;
}

.tujuan.in-view {
  opacity: 1;
  animation: slide-diagonal 0.9s ease-in-out;
  transform: translateY(0);
}

.manfaat {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.7s ease-in-out;
}

.manfaat.in-view {
  opacity: 1;
  animation: slide-diagonal2 0.9s ease-in-out;
  transform: translateY(0);
}

@keyframes slide-diagonal {
  from {
    transform: translate(600px, 600px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slide-diagonal2 {
  from {
    transform: translate(-600px, 600px);
  }

  to {
    transform: translate(0, 0);
  }
}

.promosi {
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.promosi.in-view {
  opacity: 1;
  animation: slide-diagonal 0.9s ease-in-out;
}

.booth {
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.booth.in-view {
  opacity: 1;
  animation: slide-diagonal2 0.9s ease-in-out;
}

.carousel-container {
  width: 80%;
  height: max-content;
  display: flex;
  margin-top: -420px;
  margin-left: 510px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: baseline 0.8s forwards cubic-bezier(.4, 0, .39, 1.04);
}

.carousel__buttons {
  margin-top: 30px;
  margin-left: 400px;
  display: flex;
  width: 80%;
  transform: scale(1.2);
}

.carousel__buttons .carousel-button:hover {
  background-color: #f3e1b6;
}

.carousel__buttons .carousel-button:not(:nth-last-child()) {
  margin-right: 10px;
}

.carousel__buttons .carousel-button {
  font-size: 1rem;
  background-color: #fefaef;
  margin-right: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  border: 3px solid #5d3731;
  color: #d84a44;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: background-color 0.5s ease-in-out;
}

.carousel {
  width: 65%;
  height: 700px;
  border: 3px solid #5d3731;
  display: flex;
  background-color: #fefaef;
  border-radius: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

.carousel .carousel__item.active {
  transform: scale(1) translateX(-0%);  
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.carousel .carousel__item{
  position: absolute;
  opacity: 0;
  flex: 0 0 100%; 
  transform: translateX(-0%) scale(0.9);
  border-radius: 5px;
  transition: all 0.7s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.carousel .carousel__item img {
  width: 85%;
  border: 4px solid #5d3731;
  transform: translateX(-0%) scale(0.9);
  border-radius: 25px;
  transition: all 0.7s ease;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: -25px;
  justify-content: center;
  margin-right: auto;
  height: 85%;
}

.carousel__dots {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 40%;
  justify-content: center;
  margin-top: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #5d3731;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot.active {
  background-color: #d84a44;
}

.isi {
  background-image: url("belakang.jpg");
  animation: fadeIn 0.6s ease-in-out;
}

.card {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  background-color: #fefaef;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  outline: #5d3731 3px solid;
  border-radius: 25px;
  padding: 25px;
  width: 95%;
  max-height: max-content;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
  transition: all 0.4s ease-in-out;
}

.card img {
  float: left;
  width: 25%;
  height: auto;
  outline: #5d3731 3px solid;
  border-radius: 25px;
}

.teks {
  flex-grow: 1;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.teks p{
  width: 100%;
  overflow-wrap: break-word;
}

.cards {
  margin-top: 20px;
  padding: 20px;
  animation: baseline 0.8s forwards cubic-bezier(.4, 0, .39, 1.04);
}

.card:hover {
  transform: translateY(-10px);
}